<!DOCTYPE html>
<html>
    <head>
        <title>Website didático - Responsivo e adaptável</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link href="css/estilo.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <header>
            <h1>Website didático - Responsivo e adaptável</h1>
            <h2>Detecção de medidas</h2>
            <p class="paisagem">Horizontal - Paisagem</p>
            <p class="retrato">Vertical - Retrato</p>
            <p>Largura da tela: <span id="largura"></span><br />Altura da tela: <span id="altura"></span></p>
            <script src="js/medidas.js"></script>
        </header>
    </body>
</html>
