/* 
    Created on : 21/10/2014, 19:28:45
    Author     : Jeidsan Pereira
*/
body
{
    background-color: black;
    color: white;
}

/*Esse média é utilizado para ver qual midia está sento utilizada. Que bacana, cara!*/
@media screen and (orientation: portrait)
{
    /*Vertical - Retrato*/
    .paisagem { display: none; }
    .retrato { display: block; }
}

@media screen and (orientation: landscape)
{
    /*Horizontal - Paisagem*/
    .paisagem { display: block; }
    .retrato { display: none; }
}