/* 
    Created on : 21/10/2014, 21:44:52
    Author     : Jeidsan
    print.css
*/

body
{
    background-color: white;
    color: black;
}

h1, h2, header p
{
    text-align: center;
}

figure
{
    width:30%;
    height: auto;
    float:left;
    margin-top: 20px;
}

figcaption
{
    font-weight: bolder;
}

.naoImprime
{
    display: none;
}

.fimFloat
{
    clear: both;
}

img
{
    width: 90%;
    height: auto;
}